

.main-content__list-container {
  list-style: none;
}



.main-content__listitem {
  display: flex;
  justify-content: space-between;

  background-color: var(--color1);
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.main-content__listitem:hover {
  /* box-shadow: 2px 2px 2px; */
  box-shadow: rgba(0, 0, 0, 1);
  opacity: 0.8;
  
}

.main-content__listitem__button {
  border: none;

  height: 1rem;
  width: 1rem;
  padding: 0;
  margin: 0;
}

.main-content__listitem__icon:hover {
  color: var(--color1);
}