* {
  margin: 0px;
  padding: 0px;
}

body {
  background: lightblue;
  width: 100%;
  height: 100vh;
}

.sun {
  background: -webkit-linear-gradient(to top, #ffffff, rgb(85, 116, 255));
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  overflow: hidden;
}

.sun li {
  position: absolute;
  display: block;
  list-style: none;
  width: 1px;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  top: -100px;
  left: 1000px;
}

.sun li:nth-child(1) {
  left: 25%;
  font-size: 350px;
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(100px);
  }
}
