/* Daniel */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  top: 0;

  background-color: var(--color1);
  box-shadow: 0 2px rgba(0, 0, 0, 0.5);

  padding: 1rem;
  margin-top: 0;
  width: 100%;
  height: 10rem;
  color: white;
}

.header__icon {
  font-size: 5rem;
}

.header__temperature {
  font-size: 5rem;
}

.main-content {
  margin: 1rem;
  padding: 1rem;
}

.main-content__form,
.main-content__activities {
  background-color: var(--color-white);
  background-color: #ffffff88;
  border-radius: 5px;
  /* opacity: 0.3; */
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  height: 5rem;
  /* line-height: 0.1rem; */
  line-height: 1rem;
  background-color: var(--color2);
  width: 100%;
  color: var(--color-white);
  text-align: center;
  /*   box-shadow: 0 -4px rgba(0,0,0,0.5); */
  opacity: 0.9;
}

.footer__text {
  /* margin: 0.7rem; */
  font-size: 0.7rem;
  filter: brightness(95%);
}
