* {
  outline: 1px dashed red;
}

:root {
  --color1: #be3144;
  --color2: #3a3d40;
  --color3: #45567d;
  --color4: #f0f0f0;
}

body {
  padding-top: 11rem;
  /* background-color: var(--primary-color); */
}
